@model ProyectoIdentity.Models.ViewModels.RegistroVM
@{
    ViewData["Title"] = "Registro de Usuarios";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="h-100 bg-light">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card card-registration my-4 bg-success">
                    <form asp-controller="Cuentas" asp-action="Registro" class="bg-light">
                        <div class="text-danger" asp-validation-summary="All"></div>
                        <div class="row g-0">
                            <h3 class="mb-5 text-uppercase text-center">Registro de Usuarios</h3>
                            <div class="col-xl-6 d-none d-xl-block">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                                     alt="Sample photo" class="img-fluid"
                                     style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                            </div>
                            <div class="col-xl-6">
                                <div class="card-body p-md-5 text-black">
                                    <div class="row">
                                        <div class="col-md-12 mb-4">
                                            <div class="form-outline">
                                                <input type="text" asp-for="Nombre" class="form-control form-control-lg" />
                                                <label class="form-label" asp-for="Nombre">Apellido Nombre</label>
                                                <span asp-validation-for="Nombre" class="text-danger text-center"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <input asp-for="Telefono" type="text" id="Telefono" class="form-control form-control-lg" />
                                                <label class="form-label" asp-for="Telefono"></label>
                                                <span asp-validation-for="Telefono" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <input name="FechaNacimiento" type="text" id="datepicker" class="form-control form-control-lg" />
                                                <label class="form-label" asp-for="FechaNacimiento"></label>
                                                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input type="text" asp-for="Direccion" id="Direccion" class="form-control form-control-lg" />
                                        <label class="form-label" asp-for="Direccion"></label>
                                        <span asp-validation-for="Direccion" class="text-danger"></span>
                                    </div>
                                    <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
                                        <h6 class="mb-0 me-4">Sexo: </h6>
                                        <div class="form-check form-check-inline mb-0 me-4">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="Mujer"
                                                   value="option1" />
                                            <label class="form-check-label" for="femaleGender">Mujer</label>
                                        </div>
                                        <div class="form-check form-check-inline mb-0 me-4">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="Hombre"
                                                   value="option2" />
                                            <label class="form-check-label" for="maleGender">Hombre</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <select class="select">
                                                <option value="1">Provincia</option>
                                                <option value="2">Option 1</option>
                                                <option value="3">Option 2</option>
                                                <option value="4">Option 3</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <select class="select">
                                                <option value="1">Ciudad</option>
                                                <option value="2">Option 1</option>
                                                <option value="3">Option 2</option>
                                                <option value="4">Option 3</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input type="text" asp-for="Email" id="form3Example97" class="form-control form-control-lg" />
                                        <label class="form-label" asp-for="Email"></label>
                                        <span asp-validation-for="Email" class="text-danger text-center"></span>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input type="password" asp-for="Password" id="Password" class="form-control form-control-lg" />
                                        <label class="form-label" asp-for="Password"></label>
                                        <span asp-validation-for="Password" class="text-danger text-center text-center"></span>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input type="password" asp-for="ConfirmPassword" id="ConfirmPassword" class="form-control form-control-lg" />
                                        <label class="form-label" asp-for="ConfirmPassword"></label>
                                        <span asp-validation-for="ConfirmPassword" class="text-danger text-center"></span>
                                    </div>
                                    <div class="d-flex justify-content-end pt-3">
                                        <button type="submit" class="btn btn-success btn-lg ms-2">Registrarse</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}